@font-face {
    font-family: 'kof-2002';
    font-style: normal;
    font-weight: 400;
    src: url('./font/the-king-of-fighters-2002.ttf') format('truetype'),
        url('./font/the-king-of-fighters-2002.otf') format('opentype');
}

:root {
    --kof_font_color: #ffffff;
    --kof_font: "kof-2002"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--kof_font);
    background-image: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

.select_screen {
    display: flex;
}

.sides {
    width: 50%;
    height: 97vh;
    margin: 10px 0px 10px 0px;
}

.sides#left_side {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    margin-left: 10px;
    color: var(--kof_font_color);
}

.boxes{
    display: flex;
    position: relative;
    overflow: hidden;
}

.box {
    width: 100%;
    height: auto;
    display: block;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: fill;
}

.bg_box {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 2%;
    right: 0;
    z-index: 1;
    object-fit: fill;
}

.villains_selection, .heroes_selection {
    position: absolute;
    display: flex;
    width: 100%;
    height: 40%;
    bottom: 20%;
    left: 2%;
    z-index: 1;
}

.heroes_group_name, .villains_group_name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 1.5%;
}


.text {
    color: var(--kof_font_color);
    font-size: 100%;
    height: 50%;
    padding-top: 2vh;
}

.hero_main_text, .villain_main_text {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 6.5%;
    z-index: 2;
    color: var(--kof_font_color);
    font-size: 120%; 
}

/*------------------------------------------------------------------------------------------*/

.sides#right_side {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    gap: 10px;
    margin-right: 10px;
    justify-items: center;
    width: 50%;
}

.sides#right_side > :nth-child(odd) {
    justify-self: end; /* Alinha à direita */
}

.sides#right_side > :nth-child(even) {
    justify-self: start;
}

.sides#right_side > * {
    width: 70%; /* Controla a largura dos itens dentro das colunas */
}

.teams {
    background: linear-gradient(to bottom, rgba(197, 0, 0, 1) 0%,rgba(155, 0, 0, 1) 100%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 7px 10px;
    width: 67%;
    border: 3px solid black;
}

.characters {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%,rgba(255, 212, 0, 1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid black;
}

.char_img{
    width: 100%;
    height: 100%;
    border-radius: 19px;
    filter: drop-shadow(4px 4px 1px #00000059);
}

.timer {
    background: linear-gradient(to bottom, rgba(197, 0, 0, 1) 0%,rgba(155, 0, 0, 1) 100%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 7px 10px;
    width: 70%;
    border: 3px solid black;
}

.time {
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_text {
    position: absolute;
    background: radial-gradient(circle, rgba(255, 212, 0, 1) 51%,rgba(185, 153, 0, 1) 100%);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.main_time {
    font-size: 3vw;
}

.decimal_time {
    font-size: 2vw;
}

.characters {
    position: relative; /* Necessário para posicionar a borda */
    overflow: visible !important; /* Garante que a borda não seja cortada */
}

.characters.selecionado::before {
    content: '';
    position: absolute;
    top: -20px; /* Controla o tamanho externo */
    left: -26px;
    right: -26px;
    bottom: -20px;
    background-image: url('/X-Men_ScreenSelector/images/border.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
}

